@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* display: flex;
    justify-content: center; */
    font-family: "Radio Canada Big", sans-serif;
}

header {
    padding: 10px 0;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
}

a {
    color: #505F98;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #505F98;
}

nav {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 60px;
}

header nav .brand h1 {
    color: #37447E;
    font-weight: bold;
}

.mainBtn {
    width: 160px;
    height: 26px;
    background: #111B47;
    color: #ffffff;
    border-radius: 2px;
    border: 1px solid #000;
    text-transform: capitalize;
    cursor: pointer;
}

header nav #bar {
    display: none;
}

header nav #bar i {
    font-size: 20px;
    padding: 6px 12px;
    cursor: pointer;
    color: #37447E;
}

/* THIS STYLE FOR SECTION HERO */
main {
    position: relative;
}

#section_hero {
    height: 90vh;
    display: flex;
    align-items: center;
}

#section_hero div .title {
    font-size: 45px;
    font-weight: 200;
}

#section_hero div .p__ {
    margin-top: 20px;
}

#section_hero div .p__ p {
    font-size: 18px;
    color: #37447E;
}

#section_hero div .btns {
    margin-top: 20px;
    display: flex;
    gap: 25px;
}

#section_hero div .btns .learn_more {
    width: 160px;
    height: 26px;
    background: transparent;
    color: black;
    border-radius: 2px;
    border: 2px solid #37447E;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 700;
}

#section_hero .right {
    position: absolute;
    left: 30px;
}

#section_hero .parent_img {
    width: 720px;
    position: absolute;
    right: 0;
    z-index: -1;
}


/* THIS STYLE FOR SECOND SECTION */
#aboutSection{
    display: flex;
    justify-content: center;
}
.content{
    width: 1200px;
}
.content, .content .left .child2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.content .left .child1 .titleSection2{
    font-size: 36px;
    font-weight: 200;
}
.content .left .child1 p{
    color: #505F98;
    font-size: 16px;
}


/* MEDIA QUERY */

@media (max-width: 767px) {
    nav {
        padding: 0 10px;
    }

    header nav #bar {
        display: block;
    }

    header nav ul {
        position: absolute;
        left: 0;
        top: 60px;
        padding: 20px 10px;
        width: 100%;
        display: grid;
        gap: 15px;
        display: none;
        background: #f8f9f9;
        z-index: 1;
    }

    header nav ul.show {
        display: grid;
    }


    #section_hero .right {
        left: 12px;
    }

    #section_hero div .title {
        font-size: 30px;
    }

    #section_hero div .p__ p {
        font-size: 15px;
    }

    #section_hero div .btns {
        gap: 15px;
    }
}