*{
    margin: 0;
}
div{
    
    /** how you can center a content in parent div */
    
    /*? first way of centering: */
    /* display: flex;
    justify-content: center; */
    
    /*? second way of centering: */
    /* text-align: center; */
    
    /*? third way of centering: */
    /* display: grid;
    place-items: center; */

    font-size: 30px;

    /* cursor: nw-resize; */

    background: yellow;
}

#parent{
    display: flex;
}

.div1{
    background: green;
    color: blue;
}